@import java.util.List
@import com.maxdemarzi.models.User
@import com.maxdemarzi.models.Post

@args (User user, List<Post> posts, List<User> recommendations)

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grittier Home</title>
    <link rel="stylesheet" href="/assets/grittier.css">
</head>
<body>
<div class="container">
    <a href="/"><h1>Gritter</h1></a>
</div>
<div class="container">
    <div class="column-center">
        <form name="status" action="/post" method="post">
            <textarea name="status" maxlength="140"  rows="2" cols="80" placeholder="What's happening?" autofocus></textarea>
            <input type="submit" value="Submit">
        </form>
        <div class="timeline">
            @for (it: posts) {
            <div class="box">
                <img src="https://www.gravatar.com/avatar/{{hash}}?s=72&d=retro"/>
                @it.getName() @@ @it.getUsername() - @it.humanTime()<br>
                @it.getStatus()<br>
                <span class="post"><a href="/post/@it.getUsername()/@it.getTime()"><img src="/assets/img/1f501.png" height="16" width="16"> @it.getReposts()</a> <a href="/like/@it.getUsername()/@it.getTime()"><img src="/assets/img/1f497.png" height="16" width="16"> @it.getLikes()</a></span>
            </div>
            }
        </div>

    </div>
    <div class="column-left">
        <div class="box">
            <img src="https://www.gravatar.com/avatar/@user.getHash()?s=72&d=retro"/>
            @user.getName() <br>
            <a href="/user/@user.getUsername()" style="font-size:small;">@user.getUsername()</a><br>
            <table width="100%">
                <tr>
                    <td><span class="small"><a href="/user/@user.getUsername()">Posts</a></span></td>
                    <td><span class="small"><a href="/user/@user.getUsername()/following">Following</a></span></td>
                    <td><span class="small"><a href="/user/@user.getUsername()/followers">Followers</a></span></td>
                </tr>
                <tr>
                    <td><a href="/user/@user.getUsername()">@user.getPosts()</a></td>
                    <td><a href="/user/@user.getUsername()/following">@user.getFollowing()</a></td>
                    <td><a href="/user/@user.getUsername()/followers">@user.getFollowers()</a></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="column-right">
        <div class="box"><h3>Who to follow</h3>
            @for (it: recommendations) {
            <img src="https://www.gravatar.com/avatar/@it.getHash()?s=72&d=retro"/>
            @it.getName() <br>
            <a href="/user/@it.getUsername()" style="font-size:small;">@@ @it.getUsername()</a><br>
            }
            <br>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="/assets/grittier.js"></script>
</body>
</html>