@import java.util.List
@import com.maxdemarzi.models.User
@import com.maxdemarzi.models.Post
@import com.maxdemarzi.models.Tag

@args (User user, List<Post> posts, List<User> recommendations, List<Tag> trends)

@views.main.template("Home", user) -> {

    <div class="container-fluid container pt-5">
        <div class="row">
            <div class="col-3">
                @views.partials._user.template(user)
                @views.partials._trends.template(trends)
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-block">

                            <form id="status" action="/post" method="POST">
                            <div class="input-group card-outline-info">
                                <input name="status" type="text" class="form-control" placeholder="What's happening?" autofocus>
                                <span class="input-group-btn">
                                    <button class="btn btn-secondary" type="submit">Post</button>
                                </span>
                            </div>
                            </form>
                            <br/>
                            @for (it: posts) {
                            <div class="card">
                                <div class="card-block">
                                    <img src="https://www.gravatar.com/avatar/@it.getHash()?s=48&d=retro" class="rounded" />
                                    @it.getName() @@ @it.getUsername() - @it.humanTime()<br>
                                    @it.getStatus()<br>
                                    <span class="post"><a href="/post/@it.getUsername()/@it.getTime()"><img src="/assets/img/1f501.png" height="16" width="16"> @it.getReposts()</a> <a href="/like/@it.getUsername()/@it.getTime()"><img src="/assets/img/1f497.png" height="16" width="16"> @it.getLikes()</a></span>
                                </div>
                            </div>
                            }

                    </div>
                </div>
            </div>
            <div class="col-3">
                @views.partials._recommendations.template(recommendations)
            </div>
        </div>
    </div>
}