@import java.util.List
@import com.maxdemarzi.models.User
@import com.maxdemarzi.models.Post
@import com.maxdemarzi.models.Tag

@args (User loggedin, User user, List<User> users, List<User> recommendations, List<Tag> trends)

@views.main.template(user.getUsername(), loggedin) -> {
    <div class="container-fluid pt-5">
        <div class="row">
            <div class="col-12">
                <div class="jumbotron" style="background-color: #663366">
                    @user.getUsername()
                </div>
            </div>
        </div>
    </div>

    <br/>
    <div class="container-fluid container">
        <div class="row">
            <div class="col-3">
                <div class="card">
                    <div class="card-block">
                        <h5>
                            <img src="https://www.gravatar.com/avatar/@user.getHash()?s=72&d=retro" class="rounded" />
                            @user.getName() <br>
                        </h5>
                        <a href="/user/@user.getUsername()" style="font-size:small;">@user.getUsername()</a><br>

                    </div>

                    <div class="card-block">
                        @if (user.getI_follow() != null) {
                        @if (user.getI_follow()) {
                        <form id="unfollow" action="/follow/@user.getUsername()" method="delete">
                            <input type="submit" value="Unfollow" />
                        </form>
                        } else {
                        <form id="follow" action="/follow/@user.getUsername()" method="post">
                            <input type="submit" value="Follow" />
                        </form>
                        }
                        }
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-block">
                        <div class="card-outline-info">
                            <table width="100%">
                                <tr>
                                    <td><span class="small"><a href="/user/@user.getUsername()">Posts</a></span></td>
                                    <td><span class="small"><a href="/user/@user.getUsername()/following">Following</a></span></td>
                                    <td><span class="small"><a href="/user/@user.getUsername()/followers">Followers</a></span></td>
                                    <td><span class="small"><a href="/user/@user.getUsername()/likes">Likes</a></span></td>
                                </tr>
                                <tr>
                                    <td><a href="/user/@user.getUsername()">@user.getPosts()</a></td>
                                    <td><a href="/user/@user.getUsername()/following">@user.getFollowing()</a></td>
                                    <td><a href="/user/@user.getUsername()/followers">@user.getFollowers()</a></td>
                                    <td><a href="/user/@user.getUsername()/likes">@user.getLikes()</a></td>
                                </tr>
                            </table>
                        </div>

                        <br/>
                        @for (it: users) {
                        <div class="box">
                            <img src="https://www.gravatar.com/avatar/@it.getHash()?s=72&d=retro"/>
                            @it.getName() <br>
                            <a href="/user/@it.getUsername()" style="font-size:small;">@@ @it.getUsername()</a><br>
                            <table width="100%">
                                <tr>
                                    <td><span class="small"><a href="/user/@it.getUsername()">Posts</a></span></td>
                                    <td><span class="small"><a href="/user/@it.getUsername()/following">Following</a></span></td>
                                    <td><span class="small"><a href="/user/@it.getUsername()/followers">Followers</a></span></td>
                                </tr>
                                <tr>
                                    <td><a href="/user/@it.getUsername()">@it.getPosts()</a></td>
                                    <td><a href="/user/@it.getUsername()/following">@it.getFollowing()</a></td>
                                    <td><a href="/user/@it.getUsername()/followers">@it.getFollowers()</a></td>
                                </tr>
                            </table>
                        </div>
                        }

                    </div>
                </div>
            </div>
            <div class="col-3">
                @views.partials._recommendations.template(recommendations)
                <br/>
                @views.partials._trends.template(trends)
            </div>
        </div>
    </div>

}