<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grittier Home</title>
    <link rel="stylesheet" href="/assets/grittier.css">
</head>
<body>
<div class="container">
    <h1>Gritter</h1>
</div>
<div class="container">
    <div class="column-center-and-right">
        <div class="users">
            {{#each users}}
            <div class="box">
                <img src="https://www.gravatar.com/avatar/{{hash}}?s=72&d=retro"/>
                {{name}} <br>
                <a href="/{{username}}/posts" style="font-size:small;">@{{username}}</a><br>
                <table width="100%">
                    <tr>
                        <td><span class="small"><a href="/{{username}}/posts">Posts</a></span></td>
                        <td><span class="small"><a href="/{{username}}/following">Following</a></span></td>
                        <td><span class="small"><a href="/{{username}}/followers">Followers</a></span></td>
                    </tr>
                    <tr>
                        <td><a href="/{{username}}/posts">{{posts}}</a></td>
                        <td><a href="/{{username}}/following">{{following}}</a></td>
                        <td><a href="/{{username}}/followers">{{followers}}</a></td>
                    </tr>
                </table>
            </div>
            {{/each}}
        </div>
    </div>
    <div class="column-left">
        <div class="box">
            <img src="https://www.gravatar.com/avatar/{{user.hash}}?s=72&d=retro"/>
            {{user.name}} <br>
            <a href="/{{user.username}}/posts" style="font-size:small;">@{{user.username}}</a><br>
            <table width="100%">
                <tr>
                    <td><span class="small"><a href="/{{user.username}}/posts">Posts</a></span></td>
                    <td><span class="small"><a href="/{{user.username}}/following">Following</a></span></td>
                    <td><span class="small"><a href="/{{user.username}}/followers">Followers</a></span></td>
                </tr>
                <tr>
                    <td><a href="/{{user.username}}/posts">{{user.posts}}</a></td>
                    <td><a href="/{{user.username}}/following">{{user.following}}</a></td>
                    <td><a href="/{{user.username}}/followers">{{user.followers}}</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="/assets/grittier.js"></script>
</body>
</html>